
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">


        <div class="row">
            <!--Filtreleme-->
            @Html.Action("PartialFilter", "Home")



            <br />







            <br />
            <div class="col-md-9">
                <h2 style="  border: 2px solid green;   border-radius: 5px;"> The information   updated succesfully </h2>

                <button class="btn btn-success btn-block" style="border: 3px solid green;" onclick="location.href='/Home/Index' " type="button">
                    Home
                </button>


            </div>



        </div>

