<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Real Estate Company</title>
   
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Content/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body style="background: url('images/brown.png') no-repeat; ">



    <header>
        <!--Menu-->
        <div class="container">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" style="padding:10px" href="/Home/index"><img src="/Content/images/logo.png" width="110" height="35" /> </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                        <form class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
                        </form>

                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Stalik <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Konut</a></li>
                                    <li><a href="#">Dukkan</a></li>
                                    <li><a href="#">Arsa</a></li>
                                    <!--<li role="separator" class="divider"></li>-->
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kiralik <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Konut</a></li>
                                    <li><a href="#">Dukkan</a></li>
                                    <li><a href="#">Arsa</a></li>
                                    <!--<li role="separator" class="divider"></li>-->
                                </ul>
                            </li>
                        </ul>
                        @Html.Partial("LoginPartial")
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>

    </header>

    @RenderBody()
    <br />
    <hr />

    <div class="container py-5">
        <div class="row glyphicon-align-center ">
            <div class="col-md-12">
                <h2 style="text-align:center;">Our team</h2>
                <p style="text-align:center;" class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
        </div>


        <div class="row text-center">
            <!-- Team item-->
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="/Content/images/muhammed.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Manuella Nevoresky</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-whatsapp fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="/Content/images/muhammed.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Samuel Hardy</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-whatsapp fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="/Content/images/muhammed.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">Tom Sunderland</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-whatsapp fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->
            <!-- Team item-->
            <div class="col-md-3">
                <div class="bg-white rounded shadow-sm py-5 px-4">
                    <img src="/Content/images/muhammed.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                    <h5 class="mb-0">John Tarly</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
                    <ul class="social mb-0 list-inline mt-3">
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram fa-2x"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-whatsapp fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- End-->

        </div>
    </div>


    <br />
    <hr />
    <footer>
        <div class="container">

            <div class="row" style="background-color:black; margin-bottom:0; padding-top:20px; padding-left:40px;">
                <div class="col-md-3">
                    <h5 class="text" style="color:white"> Contact Us</h5>
                    <ul class="list-unstyled">
                        <li><a href="#" style="color:white">Login</a></li>
                        <li><a href="#" style="color:white">Register</a></li>
                        <li><a href="#" style="color:white">Satilik</a></li>
                        <li><a href="#" style="color:white">kiralik</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5 class="text" style="color:white"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i> md.arslan0101@gmail.com  </h5>
                    <h5 class="text-uppercase" style="color:white"><i class="fa fa-volume-control-phone fa-2x" aria-hidden="true"></i> 00905316955558 </h5>
                    <h5 class="text-uppercase" style="color:white"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i> istanbul Turkey </h5>
                    <h5 class="text-uppercase" style="color:white"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i> +6342964 </h5>

                </div>
                <div class="col-md-3 ">
                    <h5 class="text" style="color:white">Follow Us </h5>
                    <ul class="list-unstyled">
                        <li>
                            <!--  <a href="#" style="color:white"><i class="fa fa-facebook-square fa-3x" aria-hidden="true" "></i></a>
                            <a href="#" style="color:white"><i class="fa fa-twitter-square fa-3x" aria-hidden="true" "></i></a>
                            <a href="#" style="color:white"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
                            <a href="#" style="color:white"><i class="fa fa-youtube-square fa-3x" aria-hidden="true" "></i></a>-->

                            <section class="mb-4">
                                <!-- Facebook -->
                                <a class="btn btn-primary btn-floating m-1"
                                   style="background-color: #3b5998;"
                                   href="#!"
                                   role="button">
                                    <i class="fa fa-facebook-f fa-2x"></i>
                                </a>

                                <!-- Twitter -->
                                <a class="btn btn-primary btn-floating m-1"
                                   style="background-color: #55acee;"
                                   href="#!"
                                   role="button">
                                    <i class="fa fa-twitter fa-2x"></i>
                                </a>



                                <!-- Instagram -->
                                <a class="btn btn-primary btn-floating m-1"
                                   style="background-color: #ac2bac;"
                                   href="#!"
                                   role="button">
                                    <i class="fa fa-instagram  fa-2x"></i>
                                </a>

                                <!-- youtube -->
                                <a class="btn btn-primary btn-floating m-1"
                                   style="background-color: #cf3434;"
                                   href="#!"
                                   role="button">
                                    <i class="fa fa-youtube fa-2x"></i>
                                </a>

                            </section>
                        </li>

                    </ul>

                </div>
                <section>
                    <div class="col-md-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.3933502993737!2d28.92771728469813!3d40.994762979302045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cabbbecb84d891%3A0x3a0ddf83d39b1348!2zSCZHIEJheWFuIEt1YWbDtnLDvA!5e0!3m2!1sar!2str!4v1616609896848!5m2!1sar!2str"
                                width="200" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </section>
                <div class="row">
                    <p style="text-align: center ;font-size: 15px; padding-top:50px">
                        Copyright &copy; 2017-
                        <script>document.write(new Date().getFullYear())</script> Muhammed ARSLAN All Rights Reserved
                    </p>
                </div>
            </div>



        </div>



    </footer>


    <a href="https://wa.me/00905316955558" class="whatsapp_float" target="_blank"> <i class="fa fa-whatsapp whatsapp-icon"></i></a>
    <button class="float-left" onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</body>


</html>


